@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
  background-color: #f5f5f5;
  transition: background-color 0.7s ease;
  color: #000000;
}

.dark-theme {
  background-color: #161616;
  transition: background-color 0.7s ease;
  color: #ffffff;
}

.dark-theme .signin-btn {
  color: #000000;
  transition: background-color 0.7s ease, color 0.7s ease;
}
.light-theme .signin-btn {
  color: #ffffff;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.dark-theme .signin-form {
  background-color: #000000;
  transition: background-color 0.7s ease, color 0.7s ease;
}
.light-theme .signin-form {
  background-color: #ffffff;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.light-theme .signin-input {
  color: #000000;
  background-color: #f5f5f5;
  transition: background-color 0.7s ease, color 0.7s ease;
}
.light-theme .signin-input:focus {
  background-color: #eaeaea;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.dark-theme .signin-input {
  color: #ffffff;
  background-color: #161616;
  transition: background-color 0.7s ease, color 0.7s ease;
}
.dark-theme .signin-input:focus {
  background-color: #212121;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.dark-theme .sidebar {
  background-color: #000000;
  /* color: #868686; */
}

.light-theme .sidebar {
  background-color: white;
  /* color: #868686; */
}
/* 
@media (max-width: 1024px) {
  .dark-theme {
    background-color: #f5f5f5;
    color: #000000;
  }
} */
